/* 리스트 */
.container {
	margin-top: 60px;
}

.col-md-2 {
	padding: 0;
	padding-right: 5px;
}

.col-md-10 {
	padding: 0;
	padding-left: 5px;
}

#info {
	text-align: center;
	background-color: #51735D;
	padding: 20px;
	height: auto;
}

#info p {
	color: white;
	text-align: center;
	margin-bottom: 7px;
}

#list {
	border: solid 1px lightgrey;
	margin-bottom: 20px;
}

#profileImg {
	width: 80px;
	border-radius: 100px;
	margin-bottom: 10px;
	border: solid white 2px;
}

#infoSub1 {
	margin-bottom: 20px;
}

#infoSub1>p {
	margin-bottom: 20px;
	color: rgba(255, 255, 255, 0.7);
}

#infoSub2 {
	margin-bottom: 20px;
}

#infoSub2>p:last-child {
	font-size: 20px;
}

#infoSub1 {
	margin-bottom: 20px;
}

.btn {
	border: solid 1px white;
	width: 100%;
	background-color: #51735D;
	color: white;
	border-radius: 0;
}

#infoBottom {
	background-color: lightgray;
	height: auto;
}

.product {
	margin: 20px 20px 0 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px lightgrey;
}

.product:last-child {
	margin: 20px 20px 0 20px;
	padding-bottom: 20px;
	border-bottom: 0;
}

.productImg>img {
	width: 100%;
}

.inline {
	display: inline-block;
	/* border: solid 1px black; */
}

.center {
	text-align: center;
}

.sendDate {
	color: gray;
}

.pSpace p {
	margin-bottom: 8px;
}

.spanSpace span {
	margin-right: 15px;
}

.brand {
	color: #51735D;
	font-weight: 600;
	font-size: 16px;
}

.productPrice {
	font-size: 14px;
	color : rgb(238, 152, 124);
}

.productName {
	font-size: 16px;
}

.sendCheck {
	padding-bottom: 15px;
	border-bottom: 1px solid lightgrey;
}

.titleInfo {
	padding-bottom: 10px;
}

.priceDate {
	padding-bottom: 10px;
}

.sendStep {
	/* font-size: 12px; */
	
}

/* 배송상태 */
.sendStep1 {
	color: rgba(0, 0, 0, 0.7);
	border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

.sendStep2 {
	color: rgba(0, 0, 0, 0.7);
	border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

.sendStep3 {
	color: rgba(81, 115, 93);
	border-bottom: solid 1px rgba(81, 115, 93);
}

.sendStep4 {
	color: rgba(81, 115, 93);
	border-bottom: solid 1px rgba(81, 115, 93);
	font-weight: 400;
}

.sendStep5 {
	color: #A69B8D;
	border-bottom: solid 1px #A69B8D;
}

.sendStepX {
	color: rgba(255, 0, 0, 0.5);
	border-bottom: solid 1px rgba(255, 0, 0, 0.5);
}

/* 버튼 상태 */
.statusBtn1 {
	/* padding: 38px 0; */
	
}

.statusBtn2 {
	padding: 38px 0;
}

.statusBtnX {
	padding: 50px 0;
}

.confirmStatus span {
	margin-bottom: 3px;
	display: inline-block;
	color: rgb(83, 83, 83);
	font-size: 12px;
}

.confirmStatus span:last-child {
	margin-bottom: 0;
}

.productBtn {
	padding: 7px 0;
	background-color: #F2E8DC;
	margin: 3px 0;
	/* color: white; */
	border: solid 1px #A69B8D;
	width: 100%;
	border-radius: 0;
}

/* 이거 백그라운드에 써줘 */
#infoSubBack {
	background-color: lightgray;
	border: solid 1px black;
}

#infoCount {
	padding: 20px 0;
	background-color: rgba(81, 115, 93, 0.8);
}

#infoCount p:first-child {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
}

#infoCount p {
	color: white;
	margin-bottom: 5px;
}

#infoCount p span {
	color: white;
	font-size: 16px;
}

#useList {
	border: solid 1px lightgray;
	display: inline-block;
	background-color: #F2E8DC;
	padding: 10px;
}

#useList input[type="month"] {
	height: 25px;
	width: 150px;
}

#useList input[type="submit"] {
	/* width: 100px; */
	
}

#useList input {
	padding: 5px;
	border: none;
	background-color: white;
	border: 1px solid lightgray;
}

#monthListBtn {
	background-color: white;
	border: 1px solid lightgray;
}

#monthListBtn span {
	display: inline-block;
	padding: 5px 10px;
	border-right: solid 1px lightgray;
	cursor: pointer;
	/* background-color: #51735D; */
}

#monthListBtn span:last-child {
	border: 0;
}

.list {
	padding: 0;
}

#list2 input {
	width: 140px;
}

#list3 select {
	height: 25px;
}

#monthSearch div {
	display: inline-block;
	margin-right: 20px;
}

#monthSearch div:last-child {
	margin-right: 0;
}

.checkStatusclass {
	border: solid 1px black;
	display: inline-block;
	width: 300px;
}

#userCategory {
	padding: 20px;
	background-color: lightgray;
}

#userCategory p {
	padding-bottom: 10px;
	font-size: 14px;
	cursor: pointer;
}

#userCategory p:last-child {
	padding-bottom: 0;
}
.click {
	cursor: pointer;
}

.parallax-window {
    height: 400px;
    text-align: center;
    background: transparent;
}
.parallax-window h3 {
    position: relative;
    top: 45%;
    font-size: 1.7rem;
    letter-spacing: 1.25em;
    color: white;
}