 /* 초기화 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
     text-decoration: none;
     color: black;
     font-family: "Noto Sans";
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
     /* width:1366px;
     height:auto;
     margin:0 auto; */
 }
 section{
 	margin-top : 120px;
     position: relative;
 }
 ol, ul {
     list-style: none;
     
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 /* 초기화  */

 /* 승원 스타일 */
 div{
    /* border: 1px solid black; */
}
/* .container{
    padding: 0;
} */
section>.container{
    /* padding: 20px; */
    border: 50px solid #F2E8DC;
    box-sizing: content-box;
}
.parallax-window{
	height:400px;
	text-align:center;
	background: transparent;
}
.parallax-window h3{
	position:relative;
	top:45%;
	font-size:1.7rem;
	letter-spacing:1.25em;
	color: white;
}
.selectStyle{
	background:none;
	border: 1px solid #9d9d9d;
	border-radius:3px;
	width:150px;
	height:40px;
}
.selectStyle2{
	font-size:13px;
	background:none;
	border: 1px solid #9d9d9d;
	border-radius:3px;
	width:150px;
	height:25px;
}
#search-area{
	padding:0px;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
} 
#search-area button{
	padding : 0 10px 0 10px;
	background:  #51735D;
	border:none;
	border-radius:3px;
	height:40px;
	position: relative;
	top : 0;
	bottom : 0;
	color : white;
}
.category{
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 0;
    list-style: none;
    border-top: 1px solid #E1E0E1;
    border-bottom: 1px solid  #E1E0E1;
}
.category>li{
    font-size: 0.9375rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.8;
    color : rgb(90, 90, 90);
}
/* 검색창 스타일 */
.block-span{
display: block;
border-bottom: solid 1px #E1E0E1;
margin-top: 5px;
margin-bottom: 20px;
position: relative;
}
button{
    border: none;
    background: none;
    outline: none;
   /*  position: absolute; */
    padding: 0;
    right: 0;
    bottom: 5px;
}
input[type="text"]{
    width: 80%;
    border: none;
    outline: none;
    padding-bottom: 5px;
    padding-left: 7px;
    background:none;
}
/* 상품사진 div 스타일 */
div.productPoto{
    margin-bottom: 10px;
}

div.proTitle{
    margin-bottom: 10px;
    font-size: 0.9375rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.8;
    color : rgb(110, 110, 110);
}
div.cash{
    font-size: 25px;
}
p.pCategory{
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color : rgb(160, 160, 160);
    
    
}
div.boderbottom-Red{
    border-bottom: 1px solid rgb(255, 130, 130);
    margin-bottom: 10px;
}
.finalPrice{
    font-size: 20px;
    font-weight: 600;
}
.nowPrice{
    font-size: 15px;
    color: rgb(255, 130, 130);
    
}
.right{
    float: right;
    font-size: 15px;
    color: rgb(110, 110, 110);
    font-weight: 500;
}
.finalPriceSmall{
    font-size: 13px;
    font-weight: 600;
}
.nowPriceSmall{
    font-size: 11px;
    color: rgb(255, 130, 130);
}
.rightSmall{
    float: right;
    font-size: 11px;
    color: rgb(110, 110, 110);
}
.auctionProduct{
    margin-bottom: 20px;
    padding : 10px;
}
/* 페이지바 */
#pageBar {
	width: 100%;
	margin: 40px 0 40px 0;
	text-align: center;
}

#pageBar>a, #pageBar>span {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #d5d5d5;
	color: #999;
	background-color: #fff;
	margin: 0 2px;
	position: relative;
	font-size: 13px;
	font-family: "YoonGothicPro760";
	display: inline-block;
	vertical-align: top;
	padding: 0;
}
/* 페이지바 cpage span */
#pageBar>span.cPage {
	border: 1px solid #191919;
	color: #191919;
}
.auctionProduct:hover{
	box-shadow: rgba(149, 149, 149, 0.4) 5px 5px 10px 3px;
}
/* 글쓰기 버튼 */
.enroll-container{
	display: block;
    /* border-bottom: solid 1px #E1E0E1; */
    position: relative;
    padding: 0 10px;
}
.inputred{
	width:100%;
	height:30px;
	border: 1px solid  #E1E0E1;
	outline:none;
	background-color:white;
	margin-bottom:5px;
	border-radius:3px;
	color:#ee987c;
	
}