<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="index">

	<select id="newProduct" resultType="map">
		select rownum r, a.* from (select * from newproduct order by productno desc) a where rownum between 1 and 5
	</select>
	
	<select id="newFunding" resultType="map">
		select rownum r, a.* from (select * from funding where appr = 1 and status = 1 order by fdno desc) a where rownum between 1 and 5
	</select>
	
	<select id="newAuction" resultType="map">
		select rownum r, a.* from (select * from auction order by acboardno desc) a where rownum between 1 and 5
	</select>
	
	
	
	<select id="hotProduct" resultType="map">
		select rownum, a.* from (
		select productno no, img, name, productprice price ,count(*) as c, status from(
		select ph.userid, p.productname as name, p.brand, p.renamedproductimg as img, pm.buydate, 
		ph.productnum, ph.protoptalprice, ph.productno, p.productprice, p.status
		from paymenthistory ph
		join payment pm on (ph.orderno = pm.orderno)
		join newproduct p on (p.productno = ph.productno)) real
		where status = 'N'
		group by productno, img, name, productprice, status order by c desc
		) a where rownum between 1 and 5
	</select>
	
	<select id="hotFunding" resultType="map">
		select rownum, a.* from (select fm.fdno no, f.mainimg img, f.title name, f.targetprice price, count(*) as c 
		from fdmember fm join funding f on (fm.fdno = f.fdno) 
        where appr= 1 and status = 1
		group by fm.fdno, f.mainimg, f.title, f.targetprice order by c desc) a
		where rownum between 1 and 5
	</select>
	
	<select id="hotAuction" resultType="map">
		select rownum, al.* from(
		select am.acboardno no, a.actitle name, a.acnowprice price, a.acremainimg img, count(*) as c from auctionmember am
		join auction a on (am.acboardno = a.acboardno)
		group by am.acboardno, a.actitle, a.acnowprice, a.acremainimg
		order by c desc) al where rownum between 1 and 5
	</select>

</mapper>
