<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config  3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.saw.good.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.saw.good.funding.model.vo.Funding" alias="funding"/>
		<typeAlias type="com.saw.good.admin.home.AdminProduct" alias="adproduct"/>
		<typeAlias type="com.saw.good.product.model.vo.Product" alias="product"/>
		<typeAlias type="com.saw.good.product.model.vo.DetailImg" alias="detailImg"/>
		<typeAlias type="com.saw.good.product.model.vo.PageDetailImg" alias="pageImg"/>
		<typeAlias type="com.saw.good.funding.model.vo.FDMember" alias="fdmember"/>
		<typeAlias type="com.saw.good.auction.model.vo.Auction" alias="auction"/>
		<typeAlias type="com.saw.good.funding.model.vo.FDReword" alias="fdreword"/>
	</typeAliases>
	
	
</configuration>
