<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="funding">
	<select id="selectHighList" resultType="funding" parameterType="int">
		SELECT * FROM(SELECT ROWNUM RNUM , R.* FROM(SELECT A.* ,(SELECT COUNT(*) FROM FDMEMBER B WHERE A.FDNO = B.FDNO) COUNT
                                                               ,(SELECT NVL(SUM(PARTPRICE),0) FROM FDMEMBER B WHERE A.FDNO = B.FDNO ) SUM
                                                     FROM FUNDING A WHERE STATUS =1 ORDER BY SUM DESC) R)
		WHERE RNUM BETWEEN 1 AND #{high}
	
	</select>

	<select id="selectAllList" resultType="funding" >	
 		SELECT A.* , (SELECT COUNT(*) FROM FDMEMBER B WHERE A.FDNO=B.FDNO)COUNT ,
 					 (SELECT NVL(SUM(PARTPRICE),0) FROM FDMEMBER B WHERE A.FDNO = B.FDNO ) SUM 
		FROM FUNDING A WHERE STATUS = 1 ORDER BY ENDDATE
 	</select>
  	<select id="selectItem" resultType="funding" parameterType="_int">
  		SELECT A.* , (SELECT COUNT(*) FROM FDMEMBER B WHERE A.FDNO=B.FDNO)COUNT ,
  					 (SELECT NVL(SUM(PARTPRICE),0) FROM FDMEMBER B WHERE A.FDNO = B.FDNO ) SUM 
		FROM FUNDING A WHERE FDNO = #{fdNo}
  	</select>
  	<select id="selectMemberList" resultType="fdmember" parameterType="_int">
  		SELECT * FROM FDMEMBER WHERE FDNO = #{fdNo}
  	</select>
  	<select id="selectPriceCount" parameterType="_int" resultType="map">
  	 	SELECT COUNT(*) as count ,SUM(PARTPRICE) as sum FROM FDMEMBER WHERE FDNO = #{fdNo}
  	</select>
  	<select id="selectRewordList" parameterType="_int" resultType="fdreword">
  		SELECT * FROM FDREWORD WHERE FDNO =#{fdNo}
  	</select>
  	
  	<insert id="insertFDMember" parameterType="fdmember" >
  		INSERT INTO FDMEMBER(FDNO,USERID,PARTPRICE,REWORD,PARTDATE,PURSTATUS) 
  		VALUES (#{fdNo,jdbcType=INTEGER},#{userId,jdbcType=VARCHAR},#{partPrice,jdbcType=INTEGER},#{reword,jdbcType=VARCHAR},SYSDATE,default)
  	</insert>
  	<select id="selectFDMemberList" parameterType="_int" resultType="fdmember" >
		SELECT F.* ,M.PROFILE FROM FDMEMBER F JOIN MEMBER M ON(F.USERID=M.USERID )WHERE F.FDNO=#{fdNo} ORDER BY PARTDATE
	</select>
	<select id="selectFDMemberCount" parameterType="_int" resultType="int">
	 	SELECT COUNT(*) FROM FDMEMBER WHERE FDNO=#{fdNo}
	</select>
</mapper>
