<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auction">
	
	<select id="selectAllList" resultType="auction">
 		SELECT * FROM AUCTION WHERE ACSTATUS=1
 	</select>
 	<select id="countAuction" resultType="_int">
 		SELECT COUNT(*) FROM AUCTION WHERE ACSTATUS=1
 	</select>
 	
 	<select id="selectCtList" parameterType="com.saw.good.auction.model.vo.AuctionSearch" resultType="auction">
 		SELECT * FROM AUCTION WHERE ACSTATUS=1 AND ACCATEGORY IN(
 		<foreach collection="category" item="c" separator=",">
 			#{c}
 		</foreach>
 		) 
 	</select>
 	<select id="countCtAuction" resultType="_int">
 		SELECT COUNT(*) FROM AUCTION WHERE ACSTATUS=1 AND ACCATEGORY IN(
 		<foreach collection="category" item="c" separator=",">
 			#{c}
 		</foreach>
 		) 
 	</select>
 	
 	<select id="searchAuction" parameterType="map" resultType="auction">
 		SELECT * FROM AUCTION WHERE 1=1
 		<if test='keyword != "ACALLSEARCH"'>
 			AND	${keyword} LIKE '%'||#{value}||'%'
 		</if>
 		<if test='keyword == "ACALLSEARCH"'>
 			AND	ACTITLE LIKE '%'||#{value}||'%' 
 			OR ACBRAND LIKE '%'||#{value}||'%' 
 		</if>
 	</select>
 	<select id="countAcSearch" parameterType="map" resultType="_int">
 		SELECT count(*) FROM AUCTION WHERE 1=1
 		<if test='keyword != "ACALLSEARCH"'>
 			AND	${keyword} LIKE '%'||#{value}||'%'
 		</if>
 		<if test='keyword == "ACALLSEARCH"'>
 			AND	ACTITLE LIKE '%'||#{value}||'%' 
 			OR ACBRAND LIKE '%'||#{value}||'%' 
 		</if>
 	</select>
 	
 	<select id="selectDtAuction" parameterType="auction" resultType="auction">
 		SELECT * FROM AUCTION WHERE ACBOARDNO = #{acBoardNo}
 	</select>
 	
 	<select id="selectAcMember" parameterType="auction" resultType="map">
 		SELECT * FROM (SELECT ROWNUM,A.* FROM (SELECT * FROM AUCTIONMEMBER WHERE ACBOARDNO=1 ORDER BY BIDPRICE DESC)A ) WHERE ROWNUM BETWEEN 1 AND 5
 		 	</select>
 	
	 <select id="selectFsPrice" parameterType="auction" resultType="_int">
 	SELECT BIDPRICE FROM (SELECT ROWNUM AS RN,A.* FROM (SELECT * FROM AUCTIONMEMBER WHERE ACBOARDNO=#{acBoardNo} ORDER BY BIDPRICE DESC)A ) WHERE RN=1
 
 	 </select>
 	
 	<select id="selectNowPrice" parameterType="auction" resultType="auction">
 		SELECT ACNOWPRICE,ACSTARTPRICE FROM AUCTION WHERE ACBOARDNO = #{acBoardNo} 
 	</select>
 	
 	
 	<insert id="insertBidPrice" parameterType="com.saw.good.auction.model.vo.AuctionMember">
 		INSERT INTO AUCTIONMEMBER VALUES(#{acBoardNo},#{userId},#{bidPrice},SYSDATE,1)
 	</insert>
 	
 	<update id="updateNowPrice" parameterType="auction">
 		UPDATE AUCTION SET ACNOWPRICE = #{acNowPrice} WHERE ACBOARDNO = #{acBoardNo}
 	</update>
 	
</mapper>
