@charset "UTF-8";
section>.container{
    padding: 20px;
    border: 50px solid #F2E8DC;
    box-sizing: content-box;
}
/* 상세페이지 헤더 */
#detail-header{
    width: 100%; 
    height: 200px; 
    text-align: center;
    display: table;
    padding: 0;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
 }
 
 #detail-header h1{
     font-size: 36px;
    position: relative;   
 }
 #detail-header i{
     font-size: 16px;
     display: table-row;
     height: 30px;
 }
 
.bg-image {
    filter: blur(5px);
    /* Full height */
    top:-20px;
    left:-10px;
    height: 120%;
    width: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }
  /* 상품섹션 */
 /* 상품 이미지 관련 */
  .first-row{
      margin-bottom: 30px;
  }
 /* 상품 이미지 관련 */
.img-container>.arrow{
    width: 25px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 325px;
}
.img-container>.arrow:hover{
    cursor: pointer;
}
.images{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* 상품 설명 */
#p-table h5{
    font-size: 20px;
    text-align: right;
   position:relative;
}
#p-table h5>img{
   position: relative;top:2px;
}

#p-table>table{
    margin-top: 5px;
    border-top: 2px black solid;
    width: 100%;
}
#p-table thead{
    font-size: 18px;
    font-weight: bold;
}

#p-table td{
    padding: 10px;
}
#p-table th{
    padding: 15px;
    border-bottom:  1px solid lightgray;
}
#p-table i,p{
    display: inline-block;
}
#main-info{
    border-bottom: 1px solid lightgray;
}
#main-info p{
    font-size: 20px;
}
#main-info i{
    margin-left: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    color: rgb(117, 116, 117);
    
}
#main-info>tr>td:first-child{
    font-size: 18px;
    color: rgb(117, 116, 117);
    width: 60%;
}
#main-info>tr:first-child>td{
    padding-top: 30px;
}
#main-info>tr:last-child>td{
    padding:30px 10px;
}
.bar{
    fill: #51735D;

}
.bar-container{
    background-color: #E1E0E1;
    display: block;
    position: relative;
    border-radius: 2px;
}
#sub-info>tr:first-child>td{
    padding-top: 30px;
}
#sub-info>tr:last-child>td{
    padding-bottom: 30px;
}
#sub-info>tr>td:first-child{
    font-size: 14px;
    color: rgb(117, 116, 117);
}
#sub-info p,i{
    font-size: 14px;
}
#sub-info button{
   width:30px;
   border-radius: 2px;
   border: 1px solid black;
   height: 25px;
   background: none;
}
/*  #sub-info input{
    width:50px;
    text-align: right;
     
} */
#input-price{
	width:130px;
	font-size:16px;
}
/* 장바구니, 구매버튼 */
section tfoot button{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}
#buy-btn{
    background-color: #51735D;
}

/* 상품 설명 메뉴*/
section ul.row>li{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    
}
section ul.row span{
    position: relative;
    display: inline-block;
    height:40px;
    cursor: pointer;
}
section span.underline::after{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 2px;
    background-color: #333;
    content: "";
}
/* 상품 div */
.detail-select{
    padding: 50px;
    border-top: solid lightgray 1px;
}

#purchase{
    display: none;
}
#review{
    display: none;
}

/* 댓글 */
#insertText {
    height: 70px;
    overflow: auto;
    padding: 5px;
    resize: none;
}
#insertTextBtn {
    height: 70px;
    border: 0;
    background-color: #51735D;
    color: white;
}

.comment {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: solid 1px #ee987c;
}
.comment:last-child {
    border-bottom:0;
}
.comment p {
    display: block;
    margin: 10px 0;
}
.commentUserId {
    color: #51735D;
    margin-right: 20px;
}
.commentUpdate {
    float: right;
    border-bottom: solid 1px #ee987c;
    margin-left: 15px;
}
.commentDelete {
    float: right;
    border-bottom: solid 1px #ee987c;
    margin-left: 15px;
}
.reComment {
    float: right;
    border-bottom: solid 1px #ee987c;
}
.commentUpdate:hover {
    color: #ee987c;
    cursor: pointer;
}
.commentDelete:hover {
    color: #ee987c;
    cursor: pointer;
}
.reComment:hover {
    color: #ee987c;
    cursor: pointer;
}

.reInsertText {
    height: 70px;
    overflow: auto;
    padding: 5px;
    resize: none;
}
.reInsertTextBtn {
    height: 70px;
    border: solid 1px #A69B8D;
    background-color: #F2E8DC;
}
.reCommentInsertDiv{
    margin:0;
}
.reCommentList {
    margin:0;
}
.rereComment p {
    display: block;
}
.reCommentList {
    padding: 15px 0 0 0;
}
.comment .rereComment {
    padding: 0 0 10px 20px;
    border-bottom: solid 1px lightgray;
}
.comment .rereComment:first-child {
    padding: 5px 0 10px 20px;
    border-top: solid 1px lightgray;
}
.comment .rereComment:last-child {
    padding: 0 0 10px 20px;
    border-bottom: 0;
}

.reCommentUserId {
    color: #51735D;
    margin-right: 20px;
}
.reCommentDelete {
    /* right: 0; */
    float: right;
    border-bottom: solid 1px #ee987c;
    margin-left: 15px;
}
.reCommentUpdate {
    float: right;
    border-bottom: solid 1px #ee987c;
}
.reCommentDelete:hover {
    color: #ee987c;
    cursor: pointer;
}
.reCommentUpdate:hover {
    color: #ee987c;
    cursor: pointer;
}
.updateDiv {
    padding: 0;
    margin: 5px 0;
}
.updateTextbox {
    height: 60px;
    resize: none;
    padding:5px;
}
.updateTextBtn{
    height: 60px;
    padding: 0;
    border: solid 1px black;
}
/* .deleteComment {
    text-align: center;
    /* font-size: 30px; */
    background-color: rgb(236, 236, 236);
    border: solid 1px lightgray;
} */
.noLogin{
    margin: 20px;
    padding:20px;
    font-size: 20px;
    background-color: rgb(236, 236, 236);
    /* color: #ee987c; */
/* 로딩바 */
.loading-bar{
	
}
.loading-bar>img{
	width:30px;height:30px;
	position:absolute;
	left:49%;
}
.profile{
	border-radius:25px;
}
/* 후원내역 */

.lst_sponser{
	border-top:1px #d5d5d5 solid;
	margin:30px 0;
	height:100px;
	position:relative;
}
.lst_sponser:first-child{
	border-top:1px #737374 solid;
}
.lst_sponser>li{
	margin:30px;
	height:60px;
	position:relative;
}
.emptyProfile{
	width:50px;
	height:50px;
	border-radius:25px;
	display:inline-block;
	margin:5px 0;
	/* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.sponser_info{
	display:inline-block;
	height:50px;
	font-size:1p5x;
	position:absolute;
	top:5px;
	margin-left:30px;
}
.wordBreak{
	color:#666666;
	font-size:16px;
	
}
.date{
	color:#888888;
	display:block;
	font-size:15px;
	margin:10px 0;
}
.num{
	color:#3C5946;
	font-weight:600;
	font-size:16px;
	margin: 0 3px 0 0;
}
/* 페이지바*/
#pageBar {
	width: 100%; 
	margin: 40px 0 40px 0;
	text-align: center;
}

#pageBar>a, #pageBar>span {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #d5d5d5;
	color: #999;
	background-color: #fff;
	margin: 0 2px;
	position: relative;
	font-size: 13px;
	font-family: "YoonGothicPro760";
	display: inline-block;
	vertical-align: top;
	padding: 0;
}
/* 페이지바 cpage span */
#pageBar>span.cPage {
	border: 1px solid  #ee987c ;
	color:  #ee987c;
}