<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
	<select id="selectProduct" resultType="map">
		SELECT * FROM NEWPRODUCT WHERE STATUS='N'
	</select>
	<select id="countProduct" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCT WHERE STATUS='N'
	</select>
	<select id="oneProduct" resultType="map" parameterType="_int">
		SELECT * FROM NEWPRODUCT WHERE PRODUCTNO=#{productno}
	</select>
	<update id="deleteProduct" parameterType="_int">
		UPDATE NEWPRODUCT SET STATUS='Y' WHERE PRODUCTNO=#{productno}
	</update>
	
	<update id="checkDelete" parameterType="adproduct">
		UPDATE NEWPRODUCT SET STATUS='Y' WHERE PRODUCTNO IN 
		<foreach collection="procheck" item="n" open="(" close=")" separator=",">
			#{n}
		</foreach>
	</update>
	

	<select id="searchProduct" parameterType="adproduct" resultType="map">
		SELECT * FROM NEWPRODUCT WHERE 1=1
		<if test="productname!=null and productname !=''">
			AND PRODUCTNAME LIKE '%'||#{productname}||'%'
		</if>
		<if test="brand != null and brand != ''">
			AND BRAND IN (
			<foreach collection="brand" item="b" separator=",">
				#{b}
			</foreach>
			)
		</if>
		<if test="category != null and category !=''">
			AND CATEGORY IN (
			<foreach collection="category" item="c" separator=",">
				#{c}
			</foreach>
			)
		</if>
		<if test="productprice != null and productprice == 100000">
			AND PRODUCTPRICE BETWEEN 0 AND 100000
		</if>
		<if test="productprice != null and productprice == 200000">
			AND PRODUCTPRICE BETWEEN 100000 AND 200000
		</if>
		<if test="productprice != null and productprice == 300000">
			AND PRODUCTPRICE BETWEEN 200000 AND 300000
		</if>
		<if test="productprice != null and productprice == 400000">
			AND PRODUCTPRICE BETWEEN 300000 AND 400000
		</if>
	</select>
	<select id="countSearchProduct" parameterType="adproduct" resultType="_int">
		SELECT count(*) FROM NEWPRODUCT WHERE 1=1
		<if test="productname!=null and productname !=''">
			AND PRODUCTNAME LIKE '%'||#{productname}||'%'
		</if>
		<if test="brand != null and brand != ''">
			AND BRAND IN (
			<foreach collection="brand" item="b" separator=",">
				#{b}
			</foreach>
			)
		</if>
		<if test="category != null and category !=''">
			AND CATEGORY IN (
			<foreach collection="category" item="c" separator=",">
				#{c}
			</foreach>
			)
		</if>
		<if test="productprice != null and productprice == 100000">
			AND PRODUCTPRICE BETWEEN 0 AND 100000
		</if>
		<if test="productprice != null and productprice == 200000">
			AND PRODUCTPRICE BETWEEN 100000 AND 200000
		</if>
		<if test="productprice != null and productprice == 300000">
			AND PRODUCTPRICE BETWEEN 200000 AND 300000
		</if>
		<if test="productprice != null and productprice == 400000">
			AND PRODUCTPRICE BETWEEN 300000 AND 400000
		</if>
	</select>
	
	<insert id="insertProduct" parameterType="com.saw.good.product.model.vo.Product">
		INSERT INTO NEWPRODUCT VALUES(SEQ_PRODUCT_NO.NEXTVAL,#{productName},#{productContent},
		#{productPrice},#{productImg},#{category},#{category},
		DEFAULT,DEFAULT,#{topImg}
		,#{renamedProductImg},#{renamedTopImg})
		<selectKey keyProperty="productNo" resultType="_int" order="AFTER">
			SELECT SEQ_PRODUCT_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertDetailImg" parameterType="com.saw.good.product.model.vo.DetailImg">
		INSERT INTO DETAILIMG VALUES(#{productNo},#{diOriNameFile},#{diRenameFile})
	</insert>
	<insert id="insertPageDetailImg" parameterType="com.saw.good.product.model.vo.PageDetailImg">
		INSERT INTO PAGEDETAILIMG VALUES(#{productNo},#{pdiOriNameFile},#{pdiRenameFile})
	</insert>

</mapper>
