<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="newProduct">
	
	<select id="selectProduct" resultType="map">
		SELECT * FROM NEWPRODUCT ORDER BY PRODUCTNO DESC
	</select>
	<select id="selectStar" resultType="map">
		SELECT A.*, STAR FROM NEWPRODUCT A
		RIGHT JOIN NEWPRODUCTREVIEW R on(A.PRODUCTNO = R.PRODUCTNO)
	</select>
	<select id="countProduct" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCT
	</select>

	<select id="selectProductView" resultType="product" parameterType="_int">
		SELECT * FROM NEWPRODUCT WHERE PRODUCTNO=#{no}
	</select>
	<select id="searchProduct" parameterType="map" resultType="map">
 		SELECT * FROM NEWPRODUCT WHERE PRODUCTNAME LIKE '%'||#{keyword}||'%' AND STATUS='N' ORDER BY PRODUCTNO DESC
 	</select>
 	
 	<select id="countSearchProduct" parameterType="map" resultType="_int">
 		SELECT COUNT(*) FROM NEWPRODUCT WHERE PRODUCTNAME LIKE '%'||#{keyword}||'%' AND STATUS='N'
 	</select>
 	
 	<select id="searchCategory" parameterType="map" resultType="map">
 		SELECT * FROM NEWPRODUCT WHERE CATEGORY IN
 		<foreach collection="category" item="ca" index="i" open="(" close=")" separator=",">
				#{ca}
		</foreach>
		ORDER BY PRODUCTNO DESC
 	</select>
 	<select id="countSearchCategory" parameterType="map" resultType="_int">
 		SELECT COUNT(*) FROM NEWPRODUCT WHERE CATEGORY IN
 		<foreach collection="category" item="ca" index="i" open="(" close=")" separator=",">
				#{ca}
		</foreach>
 	</select>
	
	<insert id="insertQna" parameterType="map">
		INSERT INTO NEWPRODUCTQNA VALUES(SEQ_PROQNA_NO.NEXTVAL,#{writer},#{productNo},#{subhead},#{content},
		default,default,null,default,#{pass})
	</insert>
	
	<insert id="insertReplyQna" parameterType="map">
		INSERT INTO NEWPRODUCTQNA VALUES(SEQ_PROQNA_NO.NEXTVAL,#{writer},#{productNo},#{subhead},#{content},
		default,default,#{qnaNo},1,#{pass})
	</insert>
	
	<select id="selectProductQna" resultType="productQna" parameterType="_int">
		<!-- SELECT * FROM NEWPRODUCTQNA WHERE PRODUCTNO = #{no} ORDER BY WRITEDATE DESC -->
		SELECT * FROM NEWPRODUCTQNA WHERE PRODUCTNO = #{no} START WITH REPLYLEVEL=0 CONNECT BY PRIOR QNANO=REPLYNO ORDER SIBLINGS BY WRITEDATE DESC
	</select>
	
	<select id="selectProductReview" resultType="productReview" parameterType="_int">
		SELECT * FROM NEWPRODUCTREVIEW WHERE PRODUCTNO = #{no} ORDER BY WRITEDATE DESC
	</select>
	
	<select id="countQna" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCTQNA WHERE PRODUCTNO = #{no}
	</select>
	
	<select id="countReview" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCTREVIEW WHERE PRODUCTNO = #{no}
	</select>
	<select id="selectQnaCheck" resultType="productQna" parameterType="_int">
		SELECT * FROM NEWPRODUCTQNA WHERE QNANO = #{no}
	</select>
	
	<insert id="insertReview" parameterType="map">
		INSERT INTO NEWPRODUCTREVIEW VALUES(SEQ_PROREVIEW_NO.NEXTVAL,#{userId},#{no},
		#{reContent},default,#{star},#{original},#{rename})
	</insert>
	
	<select id="countFive" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCTREVIEW WHERE STAR = 5 AND PRODUCTNO = #{no}
	</select>
	<select id="countFour" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCTREVIEW WHERE STAR = 4 AND PRODUCTNO = #{no}
	</select>
	<select id="countThree" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCTREVIEW WHERE STAR = 3 AND PRODUCTNO = #{no}
	</select>
	<select id="countTwo" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCTREVIEW WHERE STAR = 2 AND PRODUCTNO = #{no}
	</select>
	<select id="countOne" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCTREVIEW WHERE STAR = 1 AND PRODUCTNO = #{no}
	</select>
	
	<update id="updateReadCount" parameterType="_int">
		UPDATE NEWPRODUCTQNA SET READCOUNT=READCOUNT+1 WHERE QNANO = #{no}
	</update>
	
	<select id="historyCheck" parameterType="map" resultType="string">
		SELECT BUYCHECK FROM PAYMENTHISTORY WHERE PRODUCTNO=#{no} AND USERID=#{userId}
	</select>
	
	<select id="selectReviewOne" parameterType="map" resultType="productReview">
		SELECT CONTENT,STAR,REVIEWIMG,RENAMEIMG FROM NEWPRODUCTREVIEW WHERE REVIEWNO=#{no} AND USERID=#{userId}
	</select>
</mapper>













