<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="newProduct">
	
	<select id="selectProduct" resultType="map">
		SELECT * FROM NEWPRODUCT ORDER BY PRODUCTNO DESC
	</select>
	<select id="countProduct" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCT
	</select>

	<select id="selectProductView" resultType="product" parameterType="_int">
		SELECT * FROM NEWPRODUCT WHERE PRODUCTNO=#{no}
	</select>
	<select id="searchProduct" parameterType="map" resultType="map">
 		SELECT * FROM NEWPRODUCT WHERE PRODUCTNAME LIKE '%'||#{keyword}||'%' AND STATUS='N' ORDER BY PRODUCTNO DESC
 	</select>
 	
 	<select id="countSearchProduct" parameterType="map" resultType="_int">
 		SELECT COUNT(*) FROM NEWPRODUCT WHERE PRODUCTNAME LIKE '%'||#{keyword}||'%' AND STATUS='N'
 	</select>
 	
 	<select id="searchCategory" parameterType="map" resultType="map">
 		SELECT * FROM NEWPRODUCT WHERE CATEGORY IN
 		<foreach collection="category" item="ca" index="i" open="(" close=")" separator=",">
				#{ca}
		</foreach>
		ORDER BY PRODUCTNO DESC
 	</select>
 	<select id="countSearchCategory" parameterType="map" resultType="_int">
 		SELECT COUNT(*) FROM NEWPRODUCT WHERE CATEGORY IN
 		<foreach collection="category" item="ca" index="i" open="(" close=")" separator=",">
				#{ca}
		</foreach>
 	</select>
	
	<insert id="insertQna" parameterType="map">
		INSERT INTO NEWPRODUCTQNA VALUES(SEQ_PROQNA_NO.NEXTVAL,#{writer},#{productNo},#{subhead},#{content},
		default,default,null,default,#{pass})
	</insert>
	
	<select id="selectProductQna" resultType="productQna" parameterType="_int">
		SELECT * FROM NEWPRODUCTQNA WHERE PRODUCTNO = #{no} ORDER BY WRITEDATE DESC
	</select>
	<select id="countQna" resultType="_int">
		SELECT COUNT(*) FROM NEWPRODUCTQNA
	</select>
	<select id="selectQnaCheck" resultType="productQna" parameterType="_int">
		SELECT * FROM NEWPRODUCTQNA WHERE QNANO = #{no}
	</select>
</mapper>













