html{
    height: 100%;
}
body{
    height: 100%;
}
/* 배경사진 */
div.main{
    width: 100%;
    height: 100%;
   /*  background-color: #D9CDBF; */
     background-color: rgb(206, 188, 151)
    /* background-image: url('../image/infomain4.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
}
/* 프로필 바탕 */
#profileBackground{
    top:10%;
    /* background-color:rgba(255, 255, 255,0.8) ; */
    height:80%;
    width:1092px;
    left: 15%;
    z-index: 1;
    position: absolute;
}
/* 프로필 바탕2 */
#profileBackground::after{
    content: "";
    background-color:rgba(255, 255, 255, 0.6);
    /* background-color:rgba(242, 232, 220,0.6); */
    position: absolute;
    bottom: -1px;
    z-index: -1;
    filter: blur(1px);
    height: 100%;
    width:100%;
    border-radius: 30px;
   
    /* box-shadow: rgba(49, 49, 49,0.4) 25px -15px 15px 0; */

}
/* 회원정보 타이틀 센터 */
.MemberInfo{
	margin-top:3%;
    text-align: center;
}
/* 회원정보 타이틀 */
.title{
    font-size: 30px;
}
/* 회원정보 타이틀 밑에 글귀 */
.content{
    font-size: 13px;
}
/* 회원사진 밑 정보 */
.profilePhoto{
  

}
/* 회원정보 변경 */
.profileModify{
    
/*     padding-top: 35px;
    padding-right: 75px; */
}
/* 변경제목 텍스트 스타일 */
.modifyTitle{
    display: block;
    /* font-size: 13px;
    font-weight: 600; */
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    /* text-transform: uppercase; */
    /* line-height: 1.8; */
    color : rgb(71, 71, 71);
}
/* 변경내용 인풋 스타일 */
.modifyText{
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 90%;
    height: 50%;
    border-radius: 7px;
    border: 0;
    padding: 10px;
}
/* 우편번호 인풋 스타일 */
#postcode{
    display: inline-block;
    width: 200px;
    margin-bottom: 5px;
}
/* 주소찾기 버튼 스타일 */
.post-btn{
    padding: 0 20px 0 20px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    background-color: #51735D;
    color:white;
    outline: none;
}
/* 신현쿤이 준 스타일 */
.login-btn{
    border-radius: 10px;
    background-color:rgb(238, 152, 124);
    outline: none;

}
/* 프사 센터 스타일 */
#btnDiv{
 /*    text-align: center; */
    padding-top: 25px;
 
}
/* 비밀번호 변경 버튼 스타일 */
.pwd-btn{
	
	display : block;
    padding: 3% 20px 3% 20px;
    width: 80%;
    height: 10%;
    border: 0;
    border-radius: 7px;
    background-color: #A69B8D;
    color:white;
    outline: none;
    margin-bottom: 2%;
   margin-left:15%;
}
/* 판매자 회원등록 */
.seller-btn{
	display : block;
    padding: 3% 20px 3% 20px;
     width: 80%;
    /* height: 10%; */
    border: 0;
    border-radius: 7px;
    background-color: #A69B8D;
    color:white;
    outline: none;
      margin-left:15%;
}

/* 정보변경완료 버튼 스타일 */
.complete-btn{
    margin-top: 10px;
    padding: 0 20px 0 20px;
    width: 45%;
   height: 60%;
    border: 0;
    border-radius: 7px;
    background-color: #51735D;
    color:white;
    outline: none;
}
/* 변경완료 버튼 스타일 */
.delete-btn{
    margin-top: 10px;
    padding: 0 20px 0 20px;
    width: 45%;
    height: 60%;
    border: 0;
    border-radius: 7px;
    background-color: rgb(238, 152, 124);
    color:white;
    outline: none;
}
/* 모달 변경버튼 스타일 */
.change-btn{
    padding: 0 20px 0 20px;
    width: 80px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    background-color: rgb(238, 152, 124);
    color:white;
    outline: none;
}
/* 모달 취소버튼 스타일 */
.cancel-btn{
    padding: 0 20px 0 20px;
    width: 80px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    background-color: #51735D;
    color:white;
    outline: none;
}


.pass{
	font-size:14px;
	color:#51735D;
	margin-top:100px;
	margin-left:10px;
}
/* 에러 클래스 */
span.error {
	color: red;
	font-size: 11px;
    /* padding-bottom:  !important;  */
    margin-bottom: 10px;
}
input.error {
	outline: red solid 1px !important;
	margin-bottom: 10px;
}
div.margin-top{
    margin-top: 4%;
}

.filebox label { 
	display: inline-block;
	padding: 3% 30px;
	width:80%;
	color: white;
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #A69B8D;
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	text-align:center;
	margin-left:15%;
	  margin-top:5%;
	  border-radius: 7px;
} 
.filebox input[type="file"] {
	/* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	verflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}
/* 프사변경 버튼 스타일 */
.poto-btn{
	display : block;
    padding: 0 20px 0 20px;
    width: 70%;
    height: 10%;
    border: 0;
    border-radius: 7px;
    background-color: #A69B8D;
    color:white;
    outline: none;
    margin-bottom: 2%;
    margin-top:5%;
     margin-left:23%;
}
.profileImg{
	 width: 100%; 
	 height: 100%; 
	 border-radius: 125px; 
	 display: block;
}