<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<!-- <resultMap type="member" id="memberMap">
	 	<result column="user_id" property="userId"/>
	 	<result column="user_name" property="userName"/>
	 </resultMap> -->
  <select id="selectId" parameterType="string" resultType="member">
  		SELECT * FROM MEMBER WHERE USERID = #{id}
  </select>
  <insert id="insertMember" parameterType="member">
  	 INSERT INTO MEMBER (USERID,PASSWORD,USERNAME,EMAIL,PHONE,POSTCODE,ADDRESS1,ADDRESS2,STATUS,EMAILACCESS) 
  	 VALUES(#{userId},#{password},#{userName},#{email},#{phone},#{postCode},#{address1},#{address2},DEFAULT,DEFAULT)
  </insert>
  <update id="accessMember" parameterType="string">
  	 UPDATE MEMBER SET EMAILACCESS = 1 WHERE USERID=#{userId}
  </update>
  
  <!-- 승원 정보 수정 -->
   <update id="updateMemberInfo" parameterType="member">
  	 UPDATE MEMBER SET USERNAME = #{userName}, PHONE = #{phone}, POSTCODE = #{postCode},
  	  ADDRESS1 = #{address1}, ADDRESS2 = #{address2} WHERE USERID=#{userId}
  </update>
    <!-- 승원 비밀번호 변경 -->
   <update id="updatePassword" parameterType="member">
  	 UPDATE MEMBER SET PASSWORD = #{password} WHERE USERID=#{userId}
  </update>
  	<!-- 승원 사업자번호 체크 -->
   <select id="selectBsNum" parameterType="string" resultType="member">
  		SELECT * FROM MEMBER WHERE BUSINESSNUMBER = #{bsNo}
  </select>
  <!-- 승원 test -->
 	<select id="test" parameterType="String" resultType="member">
 		SELECT * FROM MEMBER WHERE USERID = #{userId}
 	</select>
  <!-- 승원 사업자번호 추가 -->
   <update id="updateBsNo" parameterType="member">
  	 UPDATE MEMBER SET BUSINESSNUMBER = #{businessNumber} WHERE USERID=#{userId}
  </update>
  
  <!-- 로그인 정보 -->
  <select id="loginMember" resultType="member" parameterType="member">
		SELECT * FROM MEMBER WHERE USERID=#{userId}
  </select>
  
  <!--승원 옥션멤버포인트   -->
  <update id="updateMemPoint" parameterType="com.saw.good.auction.model.vo.AuctionMember">
  	UPDATE MEMBER SET POINT = POINT + #{bidPrice} WHERE USERID=#{userId}
  </update>
   <!--승원 옥션멤버포인트   -->
  <update id="updateMemAPoint" parameterType="com.saw.good.auction.model.vo.AuctionMember">
  	UPDATE MEMBER SET POINT = POINT - #{bidPrice} WHERE USERID=#{userId}
  </update>
  <!--승원 옥션멤버포인트   -->
  <update id="updateMemAPoint2" parameterType="com.saw.good.auction.model.vo.AuctionMember">
  	UPDATE MEMBER SET POINT = POINT - #{acImdPrice} WHERE USERID=#{userId}
  </update>
</mapper>
