<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<!-- <resultMap type="member" id="memberMap">
	 	<result column="user_id" property="userId"/>
	 	<result column="user_name" property="userName"/>
	 </resultMap> -->
  <select id="selectId" parameterType="string" resultType="member">
  		SELECT * FROM MEMBER WHERE USERID = #{id}
  </select>
  <insert id="insertMember" parameterType="member">
  	 INSERT INTO MEMBER (USERID,PASSWORD,USERNAME,EMAIL,PHONE,POSTCODE,ADDRESS1,ADDRESS2,STATUS,EMAILACCESS) 
  	 VALUES(#{userId},#{password},#{userName},#{email},#{phone},#{postCode},#{address1},#{address2},DEFAULT,DEFAULT)
  </insert>
  <update id="accessMember" parameterType="string">
  	 UPDATE MEMBER SET EMAILACCESS = 1 WHERE USERID=#{userId}
  </update>
  
  <!-- 승원 정보 수정 -->
   <update id="updateMemberInfo" parameterType="member">
  	 UPDATE MEMBER SET USERNAME = #{userName}, PHONE = #{phone}, POSTCODE = #{postCode},
  	  ADDRESS1 = #{address1}, ADDRESS2 = #{address2} WHERE USERID=#{userId}
  </update>
  
  <!-- 승원 test -->
 	<select id="test" parameterType="String" resultType="member">
 		SELECT * FROM MEMBER WHERE USERID = #{userId}
 	</select>
  
</mapper>
