/* 승원 스타일 */
    div{
        /* border: 1px solid black; */
    }
    /* .container{
        padding: 0;
    } */
    section>.container{
        /* padding: 20px; */
        border: 50px solid #F2E8DC;
        box-sizing: content-box;
    }

    /* .sideMenu{
        margin: 50px 0px 0px 0px;
    } */
    .category{
        margin: 0;
        padding: 10px 0;
        list-style: none;
        border-top: 1px solid #E1E0E1;
        border-bottom: 1px solid  #E1E0E1;
    }
    .category>li{
        font-size: 0.9375rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        line-height: 1.8;
        color : rgb(90, 90, 90);
    }
    /* 검색창 스타일 */
    .block-span{
    display: block;
    border-bottom: solid 1px #E1E0E1;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    }
    .search-btn{
        border: none;
        background: none;
        outline: none;
        position: absolute;
        padding: 0;
        right: 0;
        bottom: 5px;
    }
    .search-btn:focus{
        border: none;
        background: none;
        outline: none;
        position: absolute;
        padding: 0;
        right: 0;
        bottom: 5px;
    }
    input[type="text"]{
        width: 80%;
        border: none;
        outline: none;
        padding-bottom: 5px;
        padding-left: 7px;
        background:none;
    }
    /* 상품사진 div 스타일 */
    div.productPoto{
        margin-bottom: 10px;
    }

    div.proTitle{
        margin-bottom: 10px;
        font-size: 0.9375rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        line-height: 1.8;
        color : rgb(110, 110, 110);
    }
    div.cash{
        font-size: 25px;
    }
    p.pCategory{
        font-size: 0.75rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 10px;
        color : rgb(160, 160, 160);
        
        
    }
    div.boderbottom-Red{
        border-bottom: 1px solid rgb(255, 130, 130);
        margin-bottom: 10px;
    }
    .finalPrice{
        font-size: 20px;
        font-weight: 600;
    }
    .nowPrice{
        font-size: 15px;
        color: rgb(255, 130, 130);
        
    }
    .right{
        float: right;
        font-size: 15px;
        color: rgb(110, 110, 110);
        font-weight: 500;
    }
    .finalPriceSmall{
        font-size: 13px;
        font-weight: 600;
    }
    .nowPriceSmall{
        font-size: 11px;
        color: rgb(255, 130, 130);
    }
    .rightSmall{
        float: right;
        font-size: 11px;
        color: rgb(110, 110, 110);
    }
    .auctionProduct{
        margin-bottom: 20px;
    }
    /* 페이지바 */
	#pageBar {
	   width: 100%;
	   margin: 40px 0 40px 0;
	   text-align: center;
	}
	
	#pageBar>a, #pageBar>span {
	   width: 40px;
	   height: 40px;
	   text-align: center;
	   line-height: 40px;
	   border: 1px solid #d5d5d5;
	   color: #999;
	   background-color: #fff;
	   margin: 0 2px;
	   position: relative;
	   font-size: 13px;
	   font-family: "YoonGothicPro760";
	   display: inline-block;
	   vertical-align: top;
	   padding: 0;
	}
	/* 페이지바 cpage span */
	#pageBar>span.cPage {
	   border: 1px solid #191919;
	   color: #191919;
	}