<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

	<select id="product" resultType="map" parameterType="string">
		
	</select>
	
	<select id="auction" resultType="map" parameterType="string">
		select * from auction a join auctionmember ac on(a.acboardno = ac.acboardno) 
		where ac.bidprice in (select max(bidprice) from auction a join auctionmember ac on(a.acboardno = ac.acboardno) 
		where a.acstatus=2 group by a.acboardno) and ac.userid=#{userId}
	</select>

</mapper>
