<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

	<select id="product" resultType="map" parameterType="string">
		select ph.userid, p.productname, p.brand, p.renamedproductimg, pm.buydate, ph.productnum, ph.protoptalprice,
		ph.status, ph.enddate, ph.buycheck, ph.phno, p.productno
		from paymenthistory ph
		join payment pm on (ph.orderno = pm.orderno)
		join newproduct p on (p.productno = ph.productno)
		where ph.userid = #{userId}
	</select>
	
	<select id="auction" resultType="map" parameterType="string">
		select * from auction a join auctionmember ac on(a.acboardno = ac.acboardno) 
		where ac.bidprice in (select max(bidprice) from auction a join auctionmember ac on(a.acboardno = ac.acboardno) 
		where a.acstatus=2 group by a.acboardno) and ac.userid=#{userId}
	</select>
	
	<select id="funding" resultType="map" parameterType="string">
		select f.fdno, f.title, f.userid fundingid, f.designer, f.status, f.mainimg,
		m.partprice, nvl(m.reword, '없음') reword, m.partdate, m.purstatus, m.userid userid 
		from funding f join fdmember m on (f.fdno = m.fdno)
		where m.userid= #{userId}
	</select>
	
	<update id="buyOk" parameterType="map">
		update paymenthistory set buycheck = 'yes' where userid = #{userId} and phno = #{phno}
	</update>
	
	<update id="status" parameterType="map">
		update paymenthistory set status = #{status} where userid = #{userId} and phno = #{phno}
	</update>

	<update id="extend" parameterType="map">
		update paymenthistory set enddate = sysdate+7 where userid = #{userId} and phno = #{phno}
	</update>

</mapper>
